{% extends "hoarder/base.html" %}
{% block content %}
    {% include "hoarder/header.html" %}
    <script src="../../static/js/jquery.cookie.js"></script>
    <script type = "text/javascript">
        //Populate city
        $.getJSON( "/common/city", function() {
            console.log( "success" );
        }).done(function(json) {
            $('#city').empty();
            $('#city').append($('<option value="" selected disabled>').text("City"));
            $.each(json, function(i, obj){
                $('#city').append($('<option>').text(obj.name).attr('value', obj.id));
            });
        }).fail(function() {
            console.log( "error" );
        });

        //Populate State
        $.getJSON( "/common/state", function() {
            console.log( "success" );
        }).done(function(json) {
            $('#state').empty();
            $('#state').append($('<option value="" selected disabled>').text("State"));
            $.each(json, function(i, obj){
                $('#state').append($('<option>').text(obj.name).attr('value', obj.id));
            });
        }).fail(function() {
            console.log( "error" );
        });

        //Populate State
        $.getJSON( "/common/country", function() {
            console.log( "success" );
        }).done(function(json) {
            $('#country').empty();
            $('#country').append($('<option value="" selected disabled>').text("Country"));
            $.each(json, function(i, obj){
                $('#country').append($('<option>').text(obj.name).attr('value', obj.id));
            });
        }).fail(function() {
            console.log( "error" );
        });

        // {
        //     "address": {
        //         "address": "",
        //         "geo_location": "",
        //         "city": null,
        //         "state": null,
        //         "country": null
        //     },
        //     "width": null,
        //     "height": null,
        //     "display_type": null,
        //     "cost_cycle": null,
        //     "cost": null
        // }

        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function onSubmit( form ){
            //jsonObj = [];

            item = {}
            item ["width"] = $('#width').val();
            item ["height"] = $('#height').val();
            item ["display_type"] = $('#display_type').val();
            item ["cost_cycle"] = $('#cost_cycle').val();
            item ["cost"] = $('#cost').val();

            addressItem = {}
            addressItem ["city"] = $('#city').val();
            addressItem ["state"] = $('#state').val();
            addressItem ["country"] = $('#country').val();
            addressItem ["geo_location"] = $('#geo_location').val();
            addressItem ["address"] = $('#address').val();
            item ["address"] = addressItem;

            //jsonObj.push(item);

            jsonString = JSON.stringify(item);
            console.log(jsonString);

            try {
                {#                $.post("../my/hoardings/", jsonString, function(result){#}
                {#                    alert(result);#}
                {#                });#}

                $.ajax({
                    type: 'POST',
                    url: "../my/hoardings/",
                    data: jsonString,
                    error: function(e) {
                        console.log(e);
                    },
                    dataType: "json",
                    contentType: "application/json"
                });
            }
            catch(err) {
                alert(err.message);
            }


            return false; //don't submit
        }

        // File Input
        $("document").ready(function(){

            $("#resource").change(function() {
                if (this.files && this.files[0]) {

                    handlePreview(this.files[0]);

                }
                //alert(filename);
            });

            $("#close").click(function(){
                $('#media').hide();
                $("#drop-label").show();
            });
        });

        function handlePreview(input) {
            var fileName = $('#resource').val();

            var reader = new FileReader();
            reader.onload = function (e) {
                $('#preview-img').attr('src', e.target.result);
                $('#preview-img').show();

            }
            reader.readAsDataURL(input);
            $('#media').show();
            $("#drop-label").hide();

        }
    </script>

    <style type="text/css">
        #map {
            height: 100%;
        }
        .form-control{
            margin-bottom: 10px;
        }
        .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        .box {
        {#        background-color: #dfc8ca;#}
            text-align: center;
            border: 5px dashed #ccc;
            padding: 4.25rem 1.25rem;
        }
        .inputfile-4 + label {
            color: #d3394c;
        }

        .inputfile + label {
            max-width: 80%;
            font-size: 1.25rem;
            font-weight: 700;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            display: inline-block;
            overflow: hidden;
            padding: 0.625rem 1.25rem;
        }
        .inputfile-4 + label figure {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #d3394c;
            display: block;
            padding: 20px;
            margin: 0 auto 10px;
        }
        .inputfile-4 + label svg {
            width: 100%;
            height: 100%;
            fill: #f1e5e6;
        }
        {#        #close{#}
        {#            display:block;#}
        {#            float:right;#}
        {#            position: absolute;#}
        {#            top: -6px;#}
        {#            right: 6px;#}
        {#            z-index: 100;#}
        {#    background:url(http://digitalsbykobke.com/images/close.png) no-repeat center center;#}
        {#        }#}
        .img-wrap {
            position: relative;
        ...
        }
        .img-wrap .close {
            position: absolute;
            top: 2px;
            right: 2px;
            z-index: 100;
            margin: -5.0rem -1.8rem;
            display:block;
            position: absolute;
            z-index: 100;
            opacity: 0.8;
        }
    </style>
    <div class="container-fluid" style="padding: 0px 30px 0px 40px">

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="" style="margin-top: 20px">
                <div class="">
                    <div class="row">
                        <div class="col-md-4" style="padding-right: 80px">
                            <h4>Specifications</h4>
                            <input name="width" class="form-control" type="number" placeholder="Width">
                            <input name="height" class="form-control" type="number" placeholder="Height">
                            <select class="form-control" name="display_type">
                                <option value="" selected disabled>Display Type</option>
                                <option value="2">OutDoor</option>
                                <option value="1">Indoor</option>
                            </select>
                            <br/>
                            <br/>
                            <h4>Billing</h4>
                            <input name="cost" class="form-control" type="text" placeholder="Rate">
                            <select class="form-control" name="cost_cycle">
                                <option value="" selected disabled>Billing Cycle</option>
                                <option value="3">Monthly</option>
                                <option value="2">Weekly</option>
                                <option value="1">Daily</option>
                            </select>
                        </div>

                        <div class="col-md-4" style="padding-right: 80px">
                            <h4>Address</h4>
                            <select id="country" name="country" class="form-control"></select>
                            <select id="state" name="state" class="form-control"></select>
                            <select id="city" name="city" class="form-control"></select>
                            <textarea rows="3" name="address" class="form-control" type="text" placeholder="Address"></textarea>

                            <div class="box" >
                                <input type="file" name="resource" id="resource" class="inputfile inputfile-4">
                                <label id="drop-label" for="resource">
                                    <figure>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                                            <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
                                        </svg>
                                    </figure>
                                    <span>
                                        Choose Hoarding Image
                                    </span>
                                </label>
                                <div id="media" class="img-wrap" style="display: none; overflow: visible">

                                    <img id="preview-img" src="" width="100%" style="display: none; margin: -3.25rem" />
                                     <i id="close" class="close fa fa-times-circle fa-2x " aria-hidden="true"></i>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <h4>Select Location</h4>
                            <div id="map" style="width:400px;height:300px;"></div>
                            <input id="geo_location" name="geo_location" class="form-control" type="hidden"/>
                        </div>
                    </div>
                    <br/>

                </div>
            </div>

            <div class="form-group" >
                <hr style="height:1px; margin-top: 0px"/>
                <div class="col-md-2 col-md-offset-10">
                    <button type="submit" class="btn btn-primary btn-block">
                        Register
                        <i class="fa fa-arrow-right" aria-hidden="true" style="margin-left: 10px"></i>
                    </button>
                </div>
            </div>
        </form> <!-- /form -->



    </div> <!-- ./container -->

    <script>
        var map;
        var markers = [];

        function initMap() {
            var haightAshbury = {lat: 18.516412, lng: 73.856125};

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: haightAshbury,
            });

            // This event listener will call addMarker() when the map is clicked.
            map.addListener('click', function(event) {
                addMarker(event.latLng);
            });

            // Adds a marker at the center of the map.
            //addMarker(haightAshbury);
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    //infoWindow.setPosition(pos);
                    //infoWindow.setContent('Location found.');
                    map.setCenter(pos);
                }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }

        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
        }

        // Adds a marker to the map and push to the array.
        function addMarker(location) {
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
            clearMarkers();
            markers.push(marker);
            $('#geo_location').val(location.lat().toFixed(6)+","+location.lng().toFixed(6));
            //alert(location);
        }

        // Sets the map on all markers in the array.
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        // Removes the markers from the map, but keeps them in the array.
        function clearMarkers() {
            setMapOnAll(null);
        }

        // Shows any markers currently in the array.
        function showMarkers() {
            setMapOnAll(map);
        }

        // Deletes all markers in the array by removing references to them.
        function deleteMarkers() {
            clearMarkers();
            markers = [];
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT10vV8xt9FuH_GNXSN1Xoi-rTEi530fo&callback=initMap">
    </script>
    {% include "hoarder/footer.html" %}
{% endblock content %}