{% extends "hoarder/base.html" %}
{% block content %}
    <style type="text/css">

        .table > tbody > tr > td {
            vertical-align: middle;
        }

        .fade.in {
            opacity: 1;
        }

        .modal.in .modal-dialog {
            -webkit-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0);
        }

        .modal-backdrop .fade .in {
            opacity: 0.5 !important;
        }

        .modal-backdrop.fade {
            opacity: 0.5 !important;
        }
    </style>
    {% csrf_token %}
    <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Hardware Status</span>
            {% if hoarding.get_hardware_status == 1 %}
                <div class="count green">Live</div>
            {% else %}
                <div class="count red">Dead</div>
            {% endif %}

            <span class="count_bottom">Last update {{ hoarding.last_update }}</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-dollar"></i> Revenue</span>
            <div class="count">1,20,000</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Running Ads </span>
            <div class="count">{{ hoarding.get_running_ads.count }}</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Scheduled Ads</span>
            <div class="count">{{ hoarding.get_scheduled_ads.count }}</div>
            <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> New Ad Requests</span>
            <div class="count">{{ hoarding.get_pending_ads.count }}</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Average Daily impressions</span>
            <div class="count">{{ hoarding.get_avg_monthly_impressions }}</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="page-title">
        <div class="title_left">
            <h3>{{ hoarding.address.address }}</h3>
        </div>
    </div>
    <div class="">
        <div class="x_panel">
            <div class="row x_title">
                <div class="col-md-5">
                    <h2>Campaign List
                        <small>List of Ads currently Running / Scheduled</small>
                    </h2>
                </div>
                <div class="col-md-2">
                    <h4>
                        <a href="/hoarder/hoarding/{{ hoarding.id }}/add/campaign" class="green"><i
                                class="fa fa-plus-circle"></i>
                            New Ad
                        </a>
                    </h4>
                </div>
                <div class="col-md-5">
                    <div id="reportrange" class="pull-right"
                         style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <div class="table-responsive">

                    <table class="table table-striped jambo_table table-bordered">
                        <thead>
                        <tr class="headings">
                            <th class="column-title">Media</th>
                            <th class="column-title">Campaign Name</th>
                            <th class="column-title">Amount</th>
                            <th class="column-title">Schedule</th>
                            <th class="column-title">Duration</th>
                            <th class="column-title">Status</th>
                            <th class="column-title">Impressions</th>
                            <th class="column-title">Action</th>
                            <th class="bulk-actions" colspan="7">
                                <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span
                                        class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for campaign in hoarding.get_all_ads %}
                            <tr class="even pointer">
                                <td align="" style="width: 80px">
                                    <a onclick="showModal({{ campaign.campaign.isVideo|yesno:"1,0" }},'{{ campaign.campaign.resource }}');"
                                       data-toggle="modal" data-target="#flipFlop">
                                        {% if campaign.campaign.isVideo %}
                                            <video style="width: 100%">
                                                <source src="{{ campaign.campaign.resource }}" type="video/mp4">
                                            </video>
                                        {% else %}
                                            <img src="{{ campaign.campaign.resource }}" class="img-rounded"
                                                 style="width: 100%">
                                        {% endif %}
                                        {#                                        <img src="/{{ campaign.campaign.resource }}"#}
                                        {#                                                            style="width: 80px"/> <br/>#}
                                    </a>
                                </td>
                                <td class=" ">{{ campaign.campaign.name }}</td>
                                <td class=" ">{{ campaign.hoarding.cost }}</td>
                                <td class=" ">{{ campaign.campaign.from_date }} - {{ campaign.campaign.to_date }}</td>
                                <td class=" ">{{ campaign.campaign.duration }}</td>
                                <td class=" ">
                                    {% if  campaign.campaign.get_status == 'Scheduled' %}
                                        <span class="label label-primary">
                                    {% elif campaign.campaign.get_status == 'Running' %}
                                        <span class="label label-success">
                                    {% elif campaign.campaign.get_status == 'Expired' %}
                                        <span class="label label-danger">
                                    {% endif %}
                                    {{ campaign.campaign.get_status }}</span>

                                </td>
                                <td class=" ">{{ campaign.get_total_impression_count }}</td>
                                <td class=" ">
                                    <a onclick="showModal({{ campaign.campaign.isVideo|yesno:"1,0" }},'{{ campaign.campaign.resource }}');"
                                       data-toggle="modal" data-target="#flipFlop">
                                        <i class="fa fa-eye fa-lg" title="view"></i>
                                    </a>
                                    <a href="{{ campaign.campaign.resource }}" download style="margin-left: 5px">
                                        <i class="fa fa-download fa-lg" title="download"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- The modal -->
    <div class="modal fade" id="flipFlop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div id="modal-video">
                        <video style="width: 100%" controls>
                            <source id="modal-video-src" src="" type="video/mp4">
                        </video>
                    </div>
                    <img id="modal-image" src="/static/img/hoarding.jpg" class="img-rounded" style="width: 100%; ">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function showModal(isVideo, url) {
            if (isVideo == 1) {
                $('#modal-image').hide();
                $('#modal-video').show();
                $("#modal-video-src").attr('src', url);
                {#                                $("#modal-video").load();#}
                {#                                 $("#modal-video").play();#}
                $("#modal-video video")[0].load();
                $("#modal-video video")[0].play();
            }
            else {
                $('#modal-image').show();
                $("#modal-image").attr('src', url);
                $('#modal-video').hide();
            }
            $('#flipFlop').on('hidden.bs.modal', function (e) {
                $("#modal video")[0].pause();
            });
        }

    </script>
{% endblock content %}