{% extends "hoarder/base.html" %}
{% block content %}
    {% include "hoarder/header.html" %}
    <div class="container" style="margin-top: 30px">
        {% for hoarding in hoardings %}
            <div class="row" onclick="location.href='/hoarder/hoarding/{{ hoarding.id }}';" >
                <div class="panel panel-default col-md-8" style="padding: 0px; cursor: pointer;">
                    <div class="panel-body" style="padding: 0px" >
                        <div class="col-md-4" style="padding: 0px;">
                            {% if hoarding.get_resources.count > 0 %}
                                <img src="{{ hoarding.get_resources.0.resource }}" width="100%" height="150px">
                            {% else %}
                                <img src="/static/img/hoarding.png" width="100%"  height="150px">
                            {% endif %}
                        </div>
                        <div class="col-md-8" style="cursor: pointer;">
                            <h4>{{ hoarding.address.address }}</h4>
                            <hr style="margin-left: -15px; margin-right: -15px; margin-top: 0px; margin-bottom: 10px"/>
                            <table data-toggle="table" data-striped="true">
                                <thead>
                                <tr>
                                    <td style="width: 120px"></td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td> <label>Dimension:</label></td>
                                    <td>{{ hoarding.width }} x {{ hoarding.height }} ft.</td>
                                </tr>
                                <tr>
                                    <td><label>Rate:</label></td>
                                    <td> &#8377; {{ hoarding.cost }} </td>
                                </tr>
                                <tr>
                                    <td><label>Billing Cycle:</label></td>
                                    <td>{{ hoarding.get_cost_cycle_display }}</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            {#            <a href="/hoarder/hoarding/{{ hoarding.id }}" style="text-decoration: none">#}

            <br/>
            {#            </a>#}
        {% endfor %}
    </div>

    {% include "hoarder/footer.html" %}
{% endblock content %}