{% extends "base.html" %}

{% block content %}

    <style>
        .errorlist{
            padding-left: 10px;
        }
    </style>
    <!-- CSS -->

    <link rel="stylesheet" href="../static/login/css/form-elements-1.0.css">
    <link rel="stylesheet" href="../static/login/css/style-1.0.css">

    <script src="../static/flexplex/js/analytics.js"></script>
    <script src="../static/jquery-1.11.1/jquery.backstretch.min.js"></script>
    <script src="../static/login/js/scripts.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <style type="text/css">

        .intro-header-overlay {
            min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
            min-height: 100vh; /* These two lines are counted as one :-)       */
            width: 100%;
            display: flex;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.7);
            background-size: cover;
            text-align: center;
        }
        .vcenter {
            min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
            min-height: 100vh; /* These two lines are counted as one :-)       */
            width: 100%;
            display: flex;
            align-items: center;
        }
    </style>
    {% include "header.html" %}

    <!-- Top content -->
    <div >
        <div class="intro-header-overlay">
                <div class="container" style="text-align: center; margin-top: -10vh">

                    <div class="row">
                        <div class="col-md-5">

                            <div class="form-box">
                                <div class="form-top">
                                    <div class="form-top-left">
                                        <h3>Login</h3>
                                        <div class="lead3">Enter email and password to Log on</div>
                                    </div>
                                    <div class="form-top-right">
                                        <i class="fa fa-key"></i>
                                    </div>
                                </div>
                                <div class="form-bottom">
                                    <form action="/signin/" method="POST" class="login-form">
                                        {% csrf_token %}
                                        {{ form.non_field_errors }}

                                        <div class="form-group">
                                            <label class="sr-only" for="form-email">Email</label>
                                            <input type="email" name="email" placeholder="Email"
                                                   class="form-username form-control" id="email"
                                                   value="{{ form.get_email }}"
                                                   oninvalid="this.setCustomValidity('Please enter valid Email')"
                                                   oninput="setCustomValidity('')" required>
                                            <div class="text-danger"> {{ form.email.errors }}</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="form-password">Password</label>
                                            <input type="password" name="password" placeholder="Password"
                                                   class="form-password form-control" id="password"
                                                   oninvalid="this.setCustomValidity('Please enter valid Password')"
                                                   oninput="setCustomValidity('')" required>
                                            <div class="text-danger"> {{ form.password.errors }}</div>
                                        </div>
                                        <button type="submit" class="btn" style="margin-top: 20px">Login!</button>
                                    </form>
                                </div>
                            </div>

                            <div class="social-login">
                                <h3>or Login with</h3>
                                <div class="social-login-buttons">
                                    <a class="btn btn-link-1 btn-link-1-facebook" href="#">
                                        <i class="fa fa-facebook"></i> Facebook
                                    </a>
                                    <a class="btn btn-link-1 btn-link-1-twitter" href="#">
                                        <i class="fa fa-twitter"></i> Twitter
                                    </a>
                                    <a class="btn btn-link-1 btn-link-1-google-plus" href="#">
                                        <i class="fa fa-google-plus"></i> Google Plus
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-1 middle-border visible-lg">
                        </div>
                        <div class="col-md-1 hidden-sm"></div>

                        <div class="col-md-5">

                            <div class="form-box">
                                <div class="form-top">
                                    <div class="form-top-left">
                                        <h3>Register</h3>
                                        <div class="lead3">Fill in the form below to get instant access:</div>
                                    </div>
                                    <div class="form-top-right">
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                </div>
                                <div class="form-bottom">
                                    <form action="/register/" method="post" class="registration-form">
                                        {% csrf_token %}
                                        {{ register_form.non_field_errors }}
                                        <div class="form-group">
                                            <label class="sr-only" for="form-first-name">Full Name</label>
                                            <input type="text" name="first_name" placeholder="Full name"
                                                   class="form-first-name form-control" id="first_name"
                                                   value="{{ register_form.get_first_name }}"
                                                   pattern="{1,}"
                                                   oninvalid="this.setCustomValidity('Please enter valid Name')"
                                                   oninput="setCustomValidity('')" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="form-email">Email</label>
                                            <input type="email" name="email" placeholder="Email"
                                                   class="form-email form-control" id="email"
                                                   value="{{ register_form.get_email }}"
                                                   oninvalid="this.setCustomValidity('Please enter valid Email')"
                                                   oninput="setCustomValidity('')" required>
                                            <div class="text-danger"> {{ register_form.email.errors }}</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="form-phone">Phone</label>
                                            <input type="tel" name="phone" placeholder="Phone"
                                                   class="form-phone form-control" id="phone"
                                                   value="{{ register_form.get_phone }}"
                                                   minlength="6" maxlength="13"
                                                   oninvalid="this.setCustomValidity('Please enter valid Phone')"
                                                   oninput="setCustomValidity('')" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="form-password">Password</label>
                                            <input type="password" name="password1" placeholder="Password"
                                                   class="form-password form-control" id="password"
                                                   pattern="(?=.*\d)(?=.*[a-z]).{8,}"
                                                   oninvalid="this.setCustomValidity('Password must contain 8 or more characters & must contain at least one number')"
                                                   oninput="setCustomValidity('')" required>
                                        </div>
                                        {#                                    <div class="form-group">#}
                                        {#                                        <label class="sr-only" for="form-password">Repeat Password</label>#}
                                        {#                                        <input type="password" name="password2" placeholder="Password"#}
                                        {#                                               class="form-password form-control" id="form-password">#}
                                        {#                                    </div>#}
                                        <div class="form-group">
                                            <label style="margin-right: 30px">Register as: </label>
                                            {#                                            <select type="options" class="form-control" name="user_type">#}
                                            {#                                                <option value="1">Advertiser</option>#}
                                            {#                                                <option value="2">Publisher</option>#}
                                            {#                                            </select>#}
                                            <label class="radio-inline" >
                                                <input type="radio" name="user_type" value="1" style="margin-right: 5px; position: relative;" required>
                                                Advertiser
                                            </label>
                                            <label class="radio-inline" style="margin-left: 20px">
                                                <input type="radio" name="user_type" value="2" style="margin-right: 5px; position: relative;" required>
                                                Hoarder
                                            </label>
                                        </div>

                                        <button type="submit" class="btn">Register!</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
        </div>
    </div>


    <!--[if lt IE 10]>
    <script src="../static/login/js/placeholder.js"></script>
<![endif]-->

{% endblock content %}