{% load static %}
<!doctype html>
<!--[if lt IE 7]>
<html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<meta name="google-site-verification" content="UpOYnMWV5TXgsPg-NvRIUftaO-sxfDRFm06_ZJbhLmE" />
    <title>FlexPlex – Online Out of Home Advertising Platform</title>

	<link rel="icon" href="{% static 'flexplex/img/favicon.png' %}">
	
    <!-- Bootstrap core CSS -->
    <link href="{% static 'flexplex/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="{% static 'flexplex/font-awesome/css/font-awesome.min.css' %}" rel='stylesheet' >
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS-->
    <link href="{% static 'flexplex/css/general.css' %}" rel="stylesheet">

    <!-- Owl-Carousel -->
    <link href="{% static 'flexplex/css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'flexplex/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'flexplex/css/owl.theme.css' %}" rel="stylesheet">
    <link href="{% static 'flexplex/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'flexplex/css/animate.css' %}" rel="stylesheet">

    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="{% static 'flexplex/css/magnific-popup.css' %}">

    <script src="{% static 'flexplex/js/modernizr-2.8.3.min.js' %}"></script>  <!-- Modernizr /-->
    <!--[if IE 9]>
    <script src="js/PIE_IE9.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="js/PIE_IE678.js"></script>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

</head>

<body id="home">

<!-- Preloader -->
<div id="preloader">
    <div id="status"></div>
</div>

<!-- Fullhoarders -->
<div class="intro-header">
    <div class="intro-header-overlay">
        <div class="col-xs-12 text-center abcen1">
            <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">FlexPlex</h1>
            <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Online Out of Home Advertising Network</h3>
            <ul class="list-inline intro-social-buttons" style="display: none">
                <li><a href="https://twitter.com/galantiandrea" class="btn  btn-lg mybutton_cyano wow fadeIn"
                       data-wow-delay="0.8s"><span class="network-name">Twitter</span></a>
                </li>
                <li id="download"><a href="#downloadlink" class="btn  btn-lg mybutton_standard wow swing wow fadeIn"
                                     data-wow-delay="1.2s"><span class="network-name">Free Download</span></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.container -->
	<div class="col-xs-12 text-center abcen wow fadeIn">
		<div class="button_down "> 
			<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis"> <img class="img_scroll animated infinite bounce" src="{% static 'flexplex/img/icon/circle.png' %}" alt=""> </a>
		</div>
	</div>
</div>

<!-- NavBar-->
<nav class="navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header" style="vertical-align: middle;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="{% static 'flexplex/img/logo-1.png' %}" alt="" height="40" style="margin-left: 15px;margin-top: 7px"/>
        </div>

        <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="menuItem"><a href="#whatis">Home</a></li>
                <li class="menuItem"><a href="#advertisers">Adverisers</a></li>
                <li class="menuItem"><a href="#hoarders">Hoarders</a></li>
                <li class="menuItem"><a href="#contact">Contact</a></li>
                <li class="menuItem"><a href="signin">Login</a></li>
            </ul>
        </div>

    </div>
</nav>

<!-- What is -->
<div id="whatis" class="content-section-b" style="border-top: 0">
    <div class="container">

        <div class="wrap_title">
            <h2>What is FlexPlex?</h2>
            <p class="lead" style="text-align: left">FlexPlex is a Digital signage network where advertisers can deliver their dynamic content to
                the end users with the ability to reach in ways other mediums simply cannot. It is a unique platform
                with features like cloud distribution, dynamic real-time content delivery, geo-targeting & performance
                measurement.
            </p>
            <p class="lead" style="margin-top:0;text-align: left">
                Our main target is to create internet connected Digital Hoarding ecosystem which will be more flexible &
                effective than existing conservative hoarding system.
            </p>
        </div>

    </div>
</div>

<!-- Use it -->
<div id="advertisers" class="content-section-a">

    <div class="container">

        <div class="row">

            <div class="col-sm-6 pull-right wow fadeInRightBig">
                <img class="img-responsive " src="{% static 'flexplex/img/test.png' %}" alt="">
            </div>

            <div class="col-sm-6 wow pull-left fadeInLeftBig" data-animation-delay="200" >
                <h2 >Advertisers</h2>
                <div class="lead3">Ad Distribution service</div>
                <p class="lead" style="text-align: left">
                    Currently advertisers need to search Digital hoardings manually or through Ad-Agencies. With FlexPlex network they can post their Ads to any hoarding within FlexPlex network in just a few clicks.
                </p>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-check-square"></i>Everything online</li>
                    <li><i class="fa-li fa fa-check-square"></i>Less advertisement cost</li>
                    <li><i class="fa-li fa fa-check-square"></i>Flexibility to choose duration, exact time & area</li>
                    <li><i class="fa-li fa fa-check-square"></i>Targeting based on Age, Sex & different category of
                        people
                    </li>
                    <li><i class="fa-li fa fa-check-square"></i>Hyperlocal advertisers can take advantage</li>
                    <li><i class="fa-li fa fa-check-square"></i>Measure Ad performance</li>
                </ul>
                <p><a class="btn btn-embossed btn-primary" href="location.html" role="button">View Locations</a>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>

<div class="content-section-b">

    <div class="container">
        <div class="row">
            <div class="col-sm-6  wow fadeInLeftBig">
                <img class="img-responsive " src="../static/flexplex/img/hoarder.png" alt="">
            </div>
            <div class="col-sm-6 pull-right wow fadeInRightBig" data-animation-delay="200">
                <h2>Hoarders</h2>
                <div class="lead3">Digital ad subscription service</div>
                <p class="lead" style="text-align: left">
                   Hoarders just need to install FlexPlex IOT hardware, that's it, the hoarding will be in Network. Hoarders can continue with their existing Ads, additionally they can generate more revenue by hosting more Ads from FlexPlex network.
                </p>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-check-square"></i>No need to search for advertisers or Ad-Agencies</li>
                    <li><i class="fa-li fa fa-check-square"></i>Can show more ads, hence more revenue</li>
                    <li><i class="fa-li fa fa-check-square"></i>No need to scrutinize the Ads, FlexPlex will do this for
                        you
                    </li>
                    <li><i class="fa-li fa fa-check-square"></i>Can lease their space</li>
                    <li><i class="fa-li fa fa-check-square"></i>No downtime</li>
                    <li><i class="fa-li fa fa-check-square"></i>More transparency</li>
                </ul>
                <p><a class="btn btn-embossed btn-primary" href="" role="button">View Details</a>
            </div>

        </div>
    </div>
</div>

<!-- Contact -->
<div id="contact" class="content-section-a">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                <h2>Contact Us</h2>
                <p class="lead" style="margin-top:0; display: none">Contact Us</p>
            </div>

            <form role="form" action="" method="post">
                <div class="col-md-6 pull-right ">
                    <div class="form-group">
                        <label for="InputName">Your Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="InputName" id="InputName"
                                   placeholder="Enter Name" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="InputEmail">Your Email</label>
                        <div class="input-group">
                            <input type="email" class="form-control" id="InputEmail" name="InputEmail"
                                   placeholder="Enter Email" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="InputMessage">Message</label>
                        <div class="input-group">
                            <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5"
                                      required></textarea>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>

                    <input type="submit" name="submit" id="submit" value="Submit"
                           class="btn wow tada btn-embossed btn-primary pull-right">
                </div>
            </form>

            <!--<hr class="featurette-divider hidden-lg">-->
            <!--<div class="col-md-5 col-md-push-1 address">-->
            <!--<address>-->
            <!--<h3>Office Location</h3>-->
            <!--<p class="lead"><a href="https://www.google.com/maps/preview?ie=UTF-8&q=The+Pentagon&fb=1&gl=us&hq=1400+Defense+Pentagon+Washington,+DC+20301-1400&cid=12647181945379443503&ei=qmYfU4H8LoL2oATa0IHIBg&ved=0CKwBEPwSMAo&safe=on">The Pentagon<br>-->
            <!--Washington, DC 20301</a><br>-->
            <!--Phone: XXX-XXX-XXXX<br>-->
            <!--Fax: XXX-XXX-YYYY</p>-->
            <!--</address>-->

            <!--<h3>Social</h3>-->
            <!--<li class="social"> -->
            <!--<a href="#"><i class="fa fa-facebook-square fa-size"> </i></a>-->
            <!--<a href="#"><i class="fa  fa-twitter-square fa-size"> </i> </a> -->
            <!--<a href="#"><i class="fa fa-google-plus-square fa-size"> </i></a>-->
            <!--<a href="#"><i class="fa fa-flickr fa-size"> </i> </a>-->
            <!--</li>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>


<footer id="footer">
    <div class="container">
        <div class="container hidden-xs">
            <div class="row">
                <div class="col-sm-6">
                    © 2017 FlexPlex pvt Ltd
                </div>
            </div>
        </div>
        <div class="container visible-xs">
            <div class="row">
                <div class="col-md-4 text-center">
                    © 2017 FlexPlex pvt Ltd
                </div>
                <!--<div class="col-md-4 text-center">-->
                <!--<ul class="social-icons">-->
                <!--<li><a href="https://www.facebook.com/Seven-Seas-Travels-851272694948164" target="_blank"><i class="fa fa-facebook"></i></a></li>-->
                <!--<li><a href="https://twitter.com/sevenseastrave7" target="_blank"><i class="fa fa-twitter"></i></a></li>-->
                <!--&lt;!&ndash; <li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
                <!--<li><a href="#"><i class="fa fa-youtube"></i></a></li>-->
                <!--<li><a href="#"><i class="fa fa-linkedin"></i></a></li> &ndash;&gt;-->
                <!--</ul>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</footer>

<!-- JavaScript -->
<script src="{% static 'flexplex/js/analytics.js' %}"></script>
<script src="{% static 'flexplex/js/jquery-1.10.2.js' %}"></script>
<script src="{% static 'flexplex/js/bootstrap.js' %}"></script>
<script src="{% static 'flexplex/js/owl.carousel.js' %}"></script>
<script src="{% static 'flexplex/js/script.js' %}"></script>
<!-- StikyMenu -->
<script src="{% static 'flexplex/js/stickUp.min.js' %}"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $(document).ready(function () {
            $('.navbar-default').stickUp();

        });
    });

</script>
<!-- Smoothscroll -->
<script type="text/javascript" src="{% static 'flexplex/js/jquery.corner.js' %}"></script>
<script src="{% static 'flexplex/js/wow.min.js' %}"></script>
<script>
    new WOW().init();
</script>
<script src="{% static 'flexplex/js/classie.js' %}"></script>
<script src="{% static 'flexplex/js/uiMorphingButton_inflow.js' %}"></script>
<!-- Magnific Popup core JS file -->
<script src="{% static 'flexplex/js/jquery.magnific-popup.js' %}"></script>
</body>

</html>
