{% extends "advertiser/base.html" %}
{% block content %}
    <script src="/static/gentelella/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <!-- Smart Wizard -->
    <div class="">
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="padding: 0px">
                    <div class="x_title" style="padding: 10px">
                        <h2>Create New Campaign
                            <small>Fill below information carefully</small>
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div id="wizard" class="form_wizard wizard_horizontal">
                            <ul class="wizard_steps row" style="padding: 0px">
                                <li class="col-md-4" style="padding: 0px">
                                    <a id="step-anchor-1" href="#step-1">
                                        <span class="step_no">1</span>
                                        <span class="step_descr">
                                              Basic details<br/>
                                              <small></small>
                                          </span>
                                    </a>
                                </li>
                                <li class="col-md-4" style="padding: 0px" onclick="resizeMap();">
                                    <a id="step-anchor-2" href="#step-2" >
                                        <span class="step_no">2</span>
                                        <span class="step_descr">
                                              Select Screens<br/>
                                              <small></small>
                                          </span>
                                    </a>
                                </li>
                                <li class="col-md-4" style="padding: 0px">
                                    <a id="step-anchor-3" href="#step-3">
                                        <span class="step_no">3</span>
                                        <span class="step_descr">
                                              Publish<br/>
                                              <small></small>
                                          </span>
                                    </a>
                                </li>
                            </ul>
                            <form id="wizard-1" novalidate="novalidate" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div id="step-1">
{#                                <h2 class="StepTitle" style="margin: 10px">Fill Campaign Details:</h2>#}
                                {% include "advertiser/file-upload.html" %}
                            </div>
                            <div id="step-2">
                                <h2 class="StepTitle" style="margin: 10px">Select Hoarding:</h2>
                                {% include "advertiser/choose-hoarding.html" %}
                            </div>
                            <div id="step-3">
                                <h2 class="StepTitle" style="margin: 10px">Publish:</h2>
                                 <div style="margin-top: 180px;height: 330px; text-align: center">
                                    <button type="submit" class="btn btn-primary" style="width: 150px">
                                        <i class="fa fa-cloud-upload fa-4x" aria-hidden="true"></i> <br/>Publish
                                    </button>
                                </div>
                            </div>
                            </form>
                        </div>
                        <!-- End SmartWizard Content -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End SmartWizard Content -->

{% endblock content %}