{% extends "advertiser/base.html" %}
{% block content %}
    <div class="row">
        <div class="panel panel-default col-md-12">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5" style="padding: 0px">
                        {% if campaign.isVideo %}
                            <video width="100%" controls>
                                <source src="{{ campaign.resource }}" type="video/mp4">
                            </video>
                        {% else %}
                            <img src="{{ campaign.resource }}" class="img-rounded" width="100%">
                        {% endif %}
                    </div>
                    <div class="col-md-7">
                        <h3>{{ campaign.name }}</h3>
                        <table data-toggle="table" data-striped="true">
                            <thead>
                            <tr>
                                <td style="width: 150px"></td>
                                <td style="width: 20px"></td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><label>Schedule</label></td>
                                <td>:</td>
                                <td>{{ campaign.from_date }} to {{ campaign.to_date }}</td>
                            </tr>
                            <tr>
                                <td><label>Total Hoardings</label></td>
                                <td>:</td>
                                <td> {{ campaign.hoardings.count }} </td>
                            </tr>
                            <tr>
                                <td><label>Campaign Status</label></td>
                                <td>:</td>
                                <td>{% if  campaign.get_status == 'Scheduled' %}
                                    <span class="label label-primary">{{ campaign.get_status }}</span>
                                {% elif campaign.get_status == 'Running' %}
                                    <span class="label label-success">{{ campaign.get_status }}</span>
                                {% elif campaign.get_status == 'Expired' %}
                                    <span class="label label-danger">{{ campaign.get_status }}</span>
                                {% endif %}</td>
                            </tr>
                             <tr>
                                <td><label>Content Approval</label></td>
                                <td>:</td>
                                <td> {% if campaign.content_status == 2 %}
                            <span class="label label-danger">{{ campaign.get_content_status_display }}</span>
                        {% elif campaign.content_status == 1 %}
                            <span class="label label-success">{{ campaign.get_content_status_display }}</span>
                        {% else %}
                            <span class="label label-warning">{{ campaign.get_content_status_display }}</span>
                        {% endif %}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <h2>Hoardings List</h2>
                    <table class="table table-striped jambo_table table-bordered">
                        <thead>
                        <tr class="headings">
                            <th>Hoarding</th>
                            <th>Cost</th>
                            <th>Dimension</th>
                            <th>Impressions</th>
                            <th>Publisher Approval</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for hoarding in campaign.hoardings.all %}
                            <tr>
                                <td>{{ hoarding.hoarding.address.address }}, {{ hoarding.hoarding.address.city.name }}</td>
                                <td>{{ hoarding.hoarding.cost }}</td>
                                <td>{{ hoarding.hoarding.width }} x {{ hoarding.hoarding.height }} ft.</td>
                                <td>{{ hoarding.get_total_impression_count }}</td>
                                {% if hoarding.status == 2 %}
                                    <td><span class="label label-danger">{{ hoarding.get_status_display }}</span></td>
                                {% elif hoarding.status == 1 %}
                                    <td><span class="label label-success">{{ hoarding.get_status_display }}</span></td>
                                {% else %}
                                    <td><span class="label label-warning">{{ hoarding.get_status_display }}</span></td>
                                {% endif %}

                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="https://cdn.plyr.io/2.0.12/plyr.css">
    <script src="https://cdn.plyr.io/2.0.12/plyr.js"></script>
    <script>plyr.setup();</script>
    <style>
        .plyr--stopped .plyr__controls {

            opacity: 0;

        }
    </style>
{% endblock content %}