<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAT10vV8xt9FuH_GNXSN1Xoi-rTEi530fo"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<style>
    .list-group {
        overflow-y: scroll;
    }

    #map-canvas {
        position: relative;
        bottom: 0;
        overflow: hidden;
    }
    .gm-style-iw {
        width: 550px !important;
    }

</style>
<script>
    var map;
    var arrMarkers = [];
    var infowindow = new google.maps.InfoWindow();
    var locations;
    var center = new google.maps.LatLng(18.5164222, 73.8539146);
    /* google maps -----------------------------------------------------*/
    google.maps.event.addDomListener(window, 'load', initialize);

    function initialize() {

        locations = [
            //['Sarag Baug', 18.499797, 73.853990, 4],
            {% for hoarding in hoardings %}
                ['{{ hoarding.address.address }}', {{ hoarding.address.geo_location }}, {{ forloop.counter0 }}],
            {% endfor %}
        ];

        map = new google.maps.Map(document.getElementById('map-canvas'), {
            zoom: 12,
            center: center,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            scrollwheel: false,
        });

        var marker;

        var pinIcon = new google.maps.MarkerImage(null, null, null, new google.maps.Size(15, 28)
        );

        var pinIcon1 = {
            url: "/static/img/hoarding-icon.png", // url
            scaledSize: new google.maps.Size(35, 35), // scaled size
            origin: new google.maps.Point(0, 0), // origin
            anchor: new google.maps.Point(0, 0) // anchor
        };

        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map,
                icon: pinIcon1
            });
            marker.set("id", locations[i][3]);
            arrMarkers[i] = marker;

            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {

                    document.getElementById("list-" + i).scrollIntoView();
                    handleListItemClicked(locations[i][3])
                }
            })(marker, i));
        }
        var clusterStyles = [
            {
                textColor: 'white',
                url: '/static/img/cluster1.png',
                height: 40,
                width: 40
            }
        ];
        var mcOptions = {gridSize: 10, styles: clusterStyles};

        var markerCluster = new MarkerClusterer(map, arrMarkers,
            mcOptions);

    };

    function handleListItemClicked(id) {
        var content = $("#hoarding-"+id).clone().html();
        infowindow.setContent(content);
        infowindow.open(map, arrMarkers[id]);
        $('li').removeClass('active');
        $("#list-" + id).addClass('active');
    }

    function resizeMap() {
        //google.maps.event.trigger(map, 'resize');
        setTimeout(function(){
            google.maps.event.trigger(map, 'resize');
            map.setCenter(center);
        }, 1000);
    }

</script>
{#<link href="/static/hoarder/css/map-style.css" rel="stylesheet">#}

<div class="">
    <div class="col-md-4 col-sm-4 col-xs-12"  style="padding: 0px">
        <ul class="list-group viewport-height" id="hoarding-list">
            {% for hoarding in hoardings %}
                <li class="list-group-item" id="list-{{ forloop.counter0 }}" value="{{ forloop.counter0 }}"
                    onClick="handleListItemClicked(this.value)">
                    {#                    <span class="badge">{{ hoarding.cost }}</span>#}
                    <div class="row">
                        <input type="checkbox" name="hoardings"
                               value="{{ hoarding.id }}" class="col-md-1">
                        <div class="col-md-8">
                            <strong>
                                {{ hoarding.address.address }}
                            </strong><br/>
                            <small>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                {{ hoarding.address.city.name }}, {{ hoarding.address.state.name }}, {{ hoarding.address.country.name }}
                                <br/>Dimension: {{ hoarding.width }} x {{ hoarding.height }} ft.
                            </small>
                        </div>
                        <div class="col-md-3">
                            <span class="label label-success">
                                &#8377; {{ hoarding.rate }}
                            </span>
                            <h6 style="margin-top: 0px"><small>per 10 sec</small></h6>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12" style="padding: 0px">
        <div id="map-canvas" class="viewport-height"></div>
    </div>
    <div id="inventory-list" style="display: none">
        {% for hoarding in hoardings %}
            <div id="hoarding-{{ forloop.counter0 }}">

                <div class="" style="padding: 0px" >
                    <div class="col-md-5" style="padding: 0px; height: 220px">
                        {% if hoarding.get_resources.count > 0 %}
                            <img src="{{ hoarding.get_resources.0.resource }}" width="100%" height="100%">
                        {% else %}
                            <img src="/static/img/hoarding.png" width="100%" height="100%">
                        {% endif %}
                    </div>
                    <div class="col-md-6" style="cursor: pointer; padding: 0px">
                        <h4 style="margin-left: 10px">{{ hoarding.address.address }}</h4>
                        <hr style="margin-bottom: 10px"/>
                        <table data-toggle="table" data-striped="true" style="margin-left: 10px">
                            <thead>
                            <tr>
                                <td style="width: 100px"></td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td> <label>Dimension:</label></td>
                                <td>{{ hoarding.width }} x {{ hoarding.height }} ft.</td>
                            </tr>
                            <tr>
                                <td><label>Rate:</label></td>
                                <td> &#8377; {{ hoarding.rate }} </td>
                            </tr>
                            <tr>
                                <td><label>Billing Cycle:</label></td>
                                <td>{{ hoarding.get_cost_cycle_display }}</td>
                            </tr>
                            </tbody>
                        </table>
                        {#                        <label>Dimension:</label> {{ hoarding.width }} x {{ hoarding.height }} ft. <br/>#}
                        {#                        <label>Rate:</label> &#8377; {{ hoarding.cost }} <br/>#}
                        {#                        <label>Billing Cycle:</label>{{ hoarding.get_cost_cycle_display }} <br/>#}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>