{% extends "advertiser/base.html" %}
{% block content %}
    <style>
    .vcenter {
        min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
        min-height: 100vh; /* These two lines are counted as one :-)       */
        width: 100%;
        display: flex;
        align-items: center;
    }
    </style>
     <div class="clearfix"></div>
        <div class="">
     {% if campaigns.count > 0 %}
                  {% for campaign in campaigns %}
                <!-- Ad Card -->
                    <div class="col-md-6 col-sm-6 col-xs-12 profile_details"
                         onclick="location.href='/advertiser/campaign/{{ campaign.id }}';" style="cursor: pointer;">
                        <div class="well profile_view" style="padding: 0px">


                                <div class="col-md-4" style="padding: 0px;">
                                    {% if campaign.isVideo %}
                                        <video width="100%" height="180px" controls>
                                            <source src="{{ campaign.resource }}" type="video/mp4">
                                        </video>
                                    {% else %}
                                        <img  src="{{ campaign.resource }}" class="img" width="100%" height="180px">
                                    {% endif %}
                                </div>
                                <div class="col-md-8" style="cursor: pointer;">
                                    <div style="background: #F2F5F7; margin: -10px">
                                        <h4 style="padding: 10px">{{ campaign.name }}</h4>
                                    </div>
                                    <table data-toggle="table" data-striped="true">
                                        <thead>
                                        <tr>
                                            <td style="width: 150px"></td>
                                            <td style="width: 20px"></td>
                                            <td></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><label>Schedule</label></td>
                                            <td>:</td>
                                            <td>{{ campaign.from_date }} to {{ campaign.to_date }}</td>
                                        </tr>
                                        <tr>
                                            <td><label>Total Hoardings</label></td>
                                            <td>:</td>
                                            <td> {{ campaign.hoardings.count }} </td>
                                        </tr>
                                        <tr>
                                            <td><label>Status</label></td>
                                            <td>:</td>
                                            <td>{% if  campaign.get_status == 'Scheduled' %}
                                                <span class="label label-primary">{{ campaign.get_status}}</span>
                                            {% elif campaign.get_status == 'Running' %}
                                                <span class="label label-success">{{ campaign.get_status}}</span>
                                            {% elif campaign.get_status == 'Expired' %}
                                                <span class="label label-danger">{{ campaign.get_status}}</span>
                                            {% endif %}</td>
                                        </tr>
                                        </tbody>
                                    </table>


                                </div>

                    </div>
                </div>
                 <!-- Ad Card -->
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="clearfix"></div>
                    {% endif %}
            {% endfor %}
    {% else %}
        <div class="container">
            <div class="vcenter">
                <div style="text-align: center; width:100%; margin-top: -100px">
                    {% if request.GET.first_login %}
                        <strong>Congratulation!! You have successfully registered.<br/>
                    {% else %}
                        <strong>You haven't created any Campaign.<br/>
                    {% endif %}
                    <a href="/hoarder/add/hoarding" class="green">Create your first Campaign.</a>
                    </strong>
                </div>
            </div>
        </div>
    {% endif %}
        </div>
    <link rel="stylesheet" href="https://cdn.plyr.io/2.0.12/plyr.css">
    <script src="https://cdn.plyr.io/2.0.12/plyr.js"></script>
    <script>plyr.setup();</script>
    <style>
        .plyr--stopped .plyr__controls {
            opacity: 0;
        }
    </style>

{% endblock content %}